body {
  padding: 20px;
}
.clear {
    clear:both;
}
#mgb {
	position: relative;
	overflow: hidden;
    padding: 0;
}

#mgb .map-area {
    position: relative;
}

#mgb .svg-actions {
	position: absolute;
    width: 50px;
    right: 10px;
    top: 10px;
    overflow:auto;
    z-index: 1000;
}

#mgb .svg-actions .btn {
	cursor: pointer;
    width: 50px;
    height: 50px;
    margin-bottom: 1px;
    background: #002b3c;
    color: #fff;
    cursor: pointer;
    text-align: center;
    padding: 8px;
}

#mgb .svg-actions .btn.zoom-in div {
    background: url("../img/plus.png") no-repeat center center;
    height: 100%;

}
#mgb .svg-actions .btn.zoom-out div {
    background: url("../img/minus.png") no-repeat center center;
    height: 100%;
}
#mgb .svg-actions .btn.adjust div {
    background: url("../img/adjust.png") no-repeat center center;
    height: 100%;
}


#mgb img {
	width: 100%;
	height: auto;
}
#mgb svg {
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}