body {
    overflow-x: hidden;
}

.map svg {
    height: auto;
    width: 550px;
    margin: 0 auto;
    display: block;
}

.map g {
    fill: #ccc;
    stroke: #333;
    stroke-width: 1;
}

.map g:hover {
    fill: #fc0 !important;
    cursor: help;
}

.info_panel {
    position: absolute;
    max-height: 200px;
    width: 200px;
    background: #fafafa;
    border: #ccc solid 0;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 5px;
    margin: 0 auto;
    padding: 5px;
}

.down-arrow {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 15px 15px 0px;
    display: block;
    width: 0px;
    z-index: 1;
    bottom: -14px;
    left: 88px;
    border-color: rgb(255, 255, 255) transparent;
}

#svg-container {
    background: 0px 120px url(../img/summer-bg.png) no-repeat;
    background-size: contain;
    width: 100%;
    height: 1000px;
    margin-top: -120px;
}

#svg-container svg {
    position: absolute;
    width: 100%;
    height: 1000px;
}

#svg-container path {
    cursor: pointer;
}

#svg-container use {
    cursor: pointer;
}

.info_close {
    position: absolute;
    top: 0;
    right: 0;
    cursor: default;
    margin: 3px 3px;
    background: url("../img/close.png");
    width: 16px;
    height: 16px;
}

.info_title {
    font-weight: bold;
}

.season-select {
    width: 100px;
    height: 27px;
    position: absolute;
    margin-top: 120px;
    z-index: 99999;
}