<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SVG map client</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/svgmap.css}" rel="stylesheet"/>
    <script th:src="@{/js/jquery-2.1.1.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/svgmap.js}"></script>
    <script th:inline="javascript">
        var CONTEXT_ROOT = /*[[@{/}]]*/ "";
    </script>
</head>

<body>
<div class="container-fluid ">
    <div class="row">
        <div class="col-sm-12">
            <div id="svg-container">
                <select class="season-select">
                    <option th:value="summer">Summer</option>
                    <option th:value="winter">Winter</option>
                </select>
            </div>
        </div>
    </div>
</div>
</body>
</html>