<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SVG map client</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/mgb.css}" rel="stylesheet"/>
    <script th:src="@{/js/jquery-2.1.1.js}"></script>
    <script th:src="@{/js/jquery.svg.min.js}"></script>
    <script th:src="@{/js/jquery.svgdom.min.js}"></script>
    <script th:src="@{/js/jquery.panzoom.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/mgb.svg.js}"></script>
    <script th:inline="javascript">
        var CONTEXT_ROOT = /*[[@{/}]]*/ "";
        $(document).ready(function(){
            var options = {
                mapType: "summer"
            };
            $("#mgb").mgb(options);
        });
    </script>
</head>

<body>
<div class="container">
    <div class="row">
        <div id="mgb" class="col-xs-12">
        </div>
    </div>
</div>
</body>
</html>